body {
    margin: 0;
    font-family: 'Roboto',Arial, Helvetica, sans-serif !important;
}

.container-center {
    max-width: 1200px !important; 
    margin: 0 auto 0 auto  !important;
}

.contact-color {
    background-color: #74A93F;
}

.logo img{
    width: 60%;
    margin-left: 20%;
}

.header-contact { 
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.btn-colorfarm{ /*boton del login y patita*/
    background-color: #74A93F !important;
    border-color: #74A93F !important;
    font-size: 19px !important;
    padding: 0 7px 7px 0!important;
    border: 0 !important;
    text-align: center;
    transition: transform 0.4s;
}

.btn-colorfarm:hover{ /*Aqui cambie que se agrande el login al pasar el cursor*/
    transform: scale(1.1);
    cursor: pointer;
    font-weight: 600;
}

#title-login{
    align-self: center !important;
    font-size: 23px !important;
}

#form-label-farm{
    text-align: left !important;
}

.form-check-label{
    font-size: 16px !important;
    vertical-align: text-top !important;   
}

.pawlogin{
    padding: 5px;
}

.header-contact p { 
    margin: 0;
    color: white;
    font-weight: 300;
    font-size: 17px;
}

.contact-position{
    display: flex;
    margin-left: 18%;
    align-items: center;

}

.num-tel { 
    color: white;
    font-weight: 600;
    font-size: 17px;
}

.horario { 
    color: white;
    font-weight: 300;
    font-size: 17px;
}
.header-login {
    margin-left: 20px;
    position: relative;
    font-weight: 400;
    font-size: 19px; 
}

.header-login li {
    list-style-type: none;

}

.header-login a {
    color: white;
    text-decoration: none;
    outline: none;
}

/*--------------------------------------*/

/*ESTILO DEL REGISTRATE EN EL LOGIN*/

.pregunta-cuenta p{
    color: #1E1E1E !important;
    padding: 20px 0 10px 0 !important;
}

.registro-cuenta a{
    color: #55b197!important;
    font-size: 18px !important;
}

/*--------------------------------------*/

.header-main{
    display: flex;
    text-align: bottom;
}

.icon-main { /*Estos son los iconos que estan al lado del buscador*/
    display: flex;
    justify-content: right;
    text-align: right;
    padding: 3% 3% 3% 8%; /*aqui lo puse asi para que se alinea con el login de arriba*/
}

.icon-main li{
    list-style-type: none;
    padding: 0 15px;
    transition: transform 0.4s;
}

.icon-main li:hover{
    transform: scale(1.3);
    cursor: pointer;
    color: #7DBCAA;
}

.icon-main a{
    color: #74A93F;
    text-decoration: none;
    outline: none;
}

.text-menu{ /* aqui cambie las letras por defecto del menu*/
    color: black !important;
    font-weight: 400 !important;
    font-size: 17px !important;
    border-radius: 10px;
}

.text-menu:hover{ /* aqui cambie el color de la letra y el fondo al pasar el mouse*/
    color: white !important;
    background-color: #7DBCAA;
    border-radius: 10px !important;
    border: 0px;
    font-weight: 500 !important;
}

.dropdown-item:hover{ /* cambia el color del dropmenu al pasar el*/
    font-weight: 600 !important;
    color: #55b197 !important;
    
}

.buscador{
    /* display: flex; */
    justify-content: space-around;
    padding: 0 0 3% 0;
}

.btn-buscador{
    font-weight: 500 !important;
}

.btn-buscador:hover{
    font-weight: 500 !important;
}

.buscador-menu{
    padding: 2% 0 0 0;
}

.form-control{
    display: flex;
}

.btn{
    background-color: #74A93F;
}

.header-main{
    padding: 10px 0;
}



/*-------------------------------------------------------------------
 Desde aqui hacia abajo es el css correspondiente a cada pagina 
-------------------------------------------------------------------*/

.pag-adopta{
    position: relative;
}


/* dejamos el botón arriba de la imagen*/
.boton-lista-adopcion{
    position: absolute;
    top: 72%;
    left: 43%;
    width: 70%;
}

.adopcion-invita{
    background: linear-gradient(#b7d6c7, transparent) #ffffff; 
    transition: background-color 1s linear;
    overflow: hidden;
    
}

.btn-adopta{
    width: 50% !important; /* Ancho del botón del 50% del ancho del contenedor */
    max-width: 300px !important; /* Ancho máximo del botón */
    height: auto !important; /* Altura automática según el contenido */
    padding: 5px 5px !important; /* Espaciado interno */
    font-size: 28px !important; /* Tamaño de fuente */
    background-color: #66c4d9 !important; /* Color de fondo */
    color: white !important; /* Color de texto */
    border: 3px solid #2b2b2b !important; 
    border-radius: 50px !important; /* Bordes redondeados */
    font-weight: 600 !important;
    transition: transform 0.2s !important;
}

.btn-adopta:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#adopcion {
    text-align: center;
}

#adopcion td {
    width: 300px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#adopcion td :first-child{
    max-width: 100%;
}

#adopcion tr {
    border: 2px solid #353535;
}

/*Esta clase la dimos en JS para transformar el url a boton*/

.url-btn{
    transition: transform 0.2s;             
}

.url-btn:hover{
    background-color: #66c4d9;
    transform: scale(1.2);
    cursor: pointer;
    color: white;
    font-weight: 100 !important;
}

/*-------------------------------------------------------------------
 Desde aqui hacia arriba es el css correspondiente a cada pagina 
-------------------------------------------------------------------*/

.footer-black{
    background-color: #1E1E1E;
    padding: 50px;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.footer-black li{
    list-style-type: none;
}


.footer-black img{
    width: 50%;   
}

.pie-pagina{
    background-color: #1E1E1E !important;
   
}

.card-final{
    background-color: #1E1E1E !important;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: #1E1E1E !important;
    
}

.text-final-box h5{
    color: white !important;
}

.text-final-box a{
    color: white !important;
}

.text-final-box h6{
    color: white !important;
}

.derechos-re p{
    margin: 0 0;
    color: white;
    text-align: center;
    font-style: italic;
}

/* Media query para ajustar el tamaño del botón en pantallas más pequeñas */
@media screen and (max-width: 1200px) {
    .boton-lista-adopcion{
        position: absolute;
        top: 70%;
        left: 42%;
        width: 50%;
    
    .btn-adopta {
        width: 70% !important;
        font-size: 15px !important;
        max-width: 200px !important;
    }
}
}

/* Media query para ajustar el tamaño del botón en pantallas aún más pequeñas */
@media screen and (max-width: 700px) {
    .boton-lista-adopcion{
        position: absolute;
        top: 68%;
        left: 37%;
        width: 50%;

    .btn-adopta {
        width: 90% !important;
        font-size: 10px !important;
        max-width: 150px !important;
    }
}

}

