
body {
    margin: 0;
    font-family: 'Roboto',Arial, Helvetica, sans-serif !important;
}

.container-center {
    max-width: 1200px !important; 
    margin: 0 auto 0 auto  !important;
}

.contact-color {
    background-color: #74A93F;
}

.logo img{
    width: 60%;
    margin-left: 20%;
}

.header-contact { 
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.btn-colorfarm{ /*boton del login y patita*/
    background-color: #74A93F !important;
    border-color: #74A93F !important;
    font-size: 19px !important;
    padding: 0 7px 7px 0!important;
    border: 0 !important;
    text-align: center;
    transition: transform 0.4s;
}

.btn-colorfarm:hover{ /*Aqui cambie que se agrande el login al pasar el cursor*/
    transform: scale(1.1);
    cursor: pointer;
    font-weight: 600;
}

#title-login{
    align-self: center !important;
    font-size: 23px !important;
}

#form-label-farm{
    text-align: left !important;
}

.form-check-label{
    font-size: 16px !important;
    vertical-align: text-top !important;   
}

.pawlogin{
    padding: 5px;
}

.header-contact p { 
    margin: 0;
    color: white;
    font-weight: 300;
    font-size: 17px;
}

.contact-position{
    display: flex;
    margin-left: 18%;
    align-items: center;

}

.num-tel { 
    color: white;
    font-weight: 600;
    font-size: 17px;
}

.horario { 
    color: white;
    font-weight: 300;
    font-size: 17px;
}
.header-login {
    margin-left: 20px;
    position: relative;
    font-weight: 400;
    font-size: 19px; 
}

.header-login li {
    list-style-type: none;

}

.header-login a {
    color: white;
    text-decoration: none;
    outline: none;
}

.header-main{
    display: flex;
    text-align: bottom;
}

.icon-main { /*Estos son los iconos que estan al lado del buscador*/
    display: flex;
    justify-content: right;
    text-align: right;
    padding: 3% 3% 3% 8%; /*aqui lo puse asi para que se alinea con el login de arriba*/
}

.icon-main li{
    list-style-type: none;
    padding: 0 15px;
    transition: transform 0.4s;
}

.icon-main li:hover{
    transform: scale(1.3);
    cursor: pointer;
    color: #7DBCAA;
}

.icon-main a{
    color: #74A93F;
    text-decoration: none;
    outline: none;
}

.text-menu{ /* aqui cambie las letras por defecto del menu*/
    color: black !important;
    font-weight: 400 !important;
    font-size: 17px !important;
    border-radius: 10px;
}

.text-menu:hover{ /* aqui cambie el color de la letra y el fondo al pasar el mouse*/
    color: white !important;
    background-color: #7DBCAA;
    border-radius: 10px !important;
    border: 0px;
    font-weight: 500 !important;
}

.dropdown-item:hover{ /* cambia el color del dropmenu al pasar el*/
    font-weight: 600 !important;
    color: #55b197 !important;
    
}

.buscador{
    /* display: flex; */
    justify-content: space-around;
    padding: 0 0 3% 0;
}

.btn-buscador{
    font-weight: 500 !important;
}

.btn-buscador:hover{
    font-weight: 500 !important;
}

.buscador-menu{
    padding: 2% 0 0 0;
}

.form-control{
    display: flex;
}

.btn{
    background-color: #74A93F;
}

.header-main{
    padding: 10px 0;
}


/*-------------------------------------------------------------------
 Desde aqui hacia abajo es el css correspondiente a cada pagina 
-------------------------------------------------------------------*/
.banner img{
    width: 100%;
    height: auto;
    justify-content: center;
}

.container{
    justify-content: center;
}

.formulario-registro{
    margin: 50px 0px 50px 50px;
}




/*-------------------------------------------------------------------
 Desde aqui hacia arriba es el css correspondiente a cada pagina 
-------------------------------------------------------------------*/

.footer-black{
    background-color: #1E1E1E;
    padding: 50px;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
}

.footer-black li{
    list-style-type: none;
}


.footer-black img{
    width: 50%;   
}

.pie-pagina{
    background-color: #1E1E1E !important;
   
}

.card-final{
    background-color: #1E1E1E !important;
    margin: 0.5em;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: #1E1E1E !important;
    
}

.text-final-box h5{
    color: white !important;
}

.text-final-box a{
    color: white !important;
}

.text-final-box h6{
    color: white !important;
}

.derechos-re p{
    margin: 0 0;
    color: white;
    text-align: center;
    font-style: italic;
}


