body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container-center {
    max-width: 1200px; 
    margin: 0 auto 0 auto;
}

.contact-color {
    background-color: #74A93F;  
}

.logo img{
    width: 60%;
    margin-left: 20%;
}

.header-contact { 
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.btn-colorfarm{
    background-color: #74A93F !important;
    border-color: #74A93F !important;
    font-size: 19px;

}

.header-contact p { 
    margin: 0;
    color: white;
    font-weight: 300;
    font-size: 19px;
}

.contact-position{
    margin-left: 18%;

}

.num-tel { 
    color: white;
    font-weight: 600;
    font-size: 19px;
}

.horario { 
    color: white;
    font-weight: 300;
    font-size: 19px;
}
.header-login {
    margin-left: 20px;
    position: relative;
    font-weight: 400;
    font-size: 19px; 
}

.header-login li {
    list-style-type: none;

}

.header-login a {
    color: white;
    text-decoration: none;
    outline: none;
}

.header-main{
    display: flex;
    text-align: bottom;
}

.carousel-inner{
    box-shadow: 0px 5px 5px #c9c8c8; /*aplicar sombra al carrusel, arriba nada, abajo sombra, blur difuminado y color de sombra*/


}

.icon-main {
    display: flex;
    justify-content: right;
    text-align: right;
    padding: 3%;
}
.icon-main li{
    list-style-type: none;
    padding: 0 15px;
}

.icon-main a{
    color: #74A93F;
    text-decoration: none;
    outline: none;
}



.buscador{
    display: flex;
    justify-content: space-around;
    padding: 0 0 3% 0;
}

.buscador-menu{
    padding: 2% 0 0 0;
}

.form-control{
    display: flex;
}

.btn{
    background-color: #74A93F;
}

.header-main{
    padding: 10px 0;
}

