
body {
    margin: 0;
    font-family: 'Roboto',Arial, Helvetica, sans-serif !important;
}

.container-center {
    max-width: 1200px !important; 
    margin: 0 auto 0 auto  !important;
}

.contact-color {
    background-color: #74A93F;
}

.logo img{
    width: 60%;
    margin-left: 20%;
}

.header-contact { 
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.btn-colorfarm{ /*boton del login y patita*/
    background-color: #74A93F !important;
    border-color: #74A93F !important;
    font-size: 19px !important;
    padding: 0 7px 7px 0!important;
    border: 0 !important;
    text-align: center;
    transition: transform 0.4s;
}

.btn-colorfarm:hover{ /*Aqui cambie que se agrande el login al pasar el cursor*/
    transform: scale(1.1);
    cursor: pointer;
    font-weight: 600;
}

#title-login{
    align-self: center !important;
    font-size: 23px !important;
}

#form-label-farm{
    text-align: left !important;
}

.form-check-label{
    font-size: 16px !important;
    vertical-align: text-top !important;   
}

.pawlogin{
    padding: 5px;
}

.header-contact p { 
    margin: 0;
    color: white;
    font-weight: 300;
    font-size: 17px;
}

.contact-position{
    display: flex;
    margin-left: 18%;
    align-items: center;

}

.num-tel { 
    color: white;
    font-weight: 600;
    font-size: 17px;
}

.horario { 
    color: white;
    font-weight: 300;
    font-size: 17px;
}
.header-login {
    margin-left: 20px;
    position: relative;
    font-weight: 400;
    font-size: 19px; 
}

.header-login li {
    list-style-type: none;

}

.header-login a {
    color: white;
    text-decoration: none;
    outline: none;
}

.header-main{
    display: flex;
    text-align: bottom;
}

.icon-main { /*Estos son los iconos que estan al lado del buscador*/
    display: flex;
    justify-content: right;
    text-align: right;
    padding: 3% 3% 3% 8%; /*aqui lo puse asi para que se alinea con el login de arriba*/
}

.icon-main li{
    list-style-type: none;
    padding: 0 15px;
    transition: transform 0.4s;
}

.icon-main li:hover{
    transform: scale(1.3);
    cursor: pointer;
    color: #7DBCAA;
}

.icon-main a{
    color: #74A93F;
    text-decoration: none;
    outline: none;
}

.text-menu{ /* aqui cambie las letras por defecto del menu*/
    color: black !important;
    font-weight: 400 !important;
    font-size: 17px !important;
    border-radius: 10px;
}

.text-menu:hover{ /* aqui cambie el color de la letra y el fondo al pasar el mouse*/
    color: white !important;
    background-color: #7DBCAA;
    border-radius: 10px !important;
    border: 0px;
    font-weight: 500 !important;
}

.dropdown-item:hover{ /* cambia el color del dropmenu al pasar el*/
    font-weight: 600 !important;
    color: #55b197 !important;
    
}

.buscador{
    /* display: flex; */
    justify-content: space-around;
    padding: 0 0 3% 0;
}

.btn-buscador{
    font-weight: 500 !important;
}

.btn-buscador:hover{
    font-weight: 500 !important;
}

.buscador-menu{
    padding: 2% 0 0 0;
}

.form-control{
    display: flex;
}

.btn{
    background-color: #74A93F;
}

.header-main{
    padding: 10px 0;
}

.carousel-inner{
    box-shadow: 0px 5px 5px #c9c8c8; /*aplicar sombra al carrusel, arriba nada, abajo sombra, blur difuminado y color de sombra*/
}

.iconos-animales{
    display: flex;

}

.iconos-animales img{
    width: 17%;
    padding: 30px 0 50px 0;
    transition: transform 0.4s;

}

.iconos-animales img:hover{
    transform: scale(1.2);
    cursor: pointer;

}

.titulo-categ{
    padding: 50px 0 30px 0;
    text-align: center;
}

.titulo-categ h2{
    color: #74A93F;
    font-weight: 600;
    font-size: x-large;
}

.titulo-categ span{
    font-weight: 900;
}

.titulo-categ i{
    color: #C1C11A;
}


.bg-categ-pets{ /*forma para poner una imagen tras todo lo demas, tipo fondo*/
    background: url(../img/ico_animales/fondo_pisadas.jpg);

}



.bestseller{
    padding: 30px 0 0 0;
    font-size: x-large;
}

.cards-wrapper{
    display: flex;
    justify-content: center;
    padding: 30px 40px;
}

.card{    
    margin: 0.5em;
    box-shadow: 0px 5px 5px #c9c8c8;
    transition: transform 0.4s;
}

.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}


.flechas-items{
    background-color: #7dbcaac7;
    border-radius: 100px;
    height: 100px !important;
    box-shadow: 0px 5px 5px #c9c8c8;
}

.card-body{
   display: grid;
}

.btn-agregar i{
    padding: 3px ;
}
